<section class="swiper-founders">
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="./images/founder1.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/founder2.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/founder3.png" />
          </div>
          <div class="swiper-slide">
            <img src="./images/founder4.png" />
          </div>
        </div>
      </div>
</section>