.about-block {
    padding-top: var(--p-tb-section);
    padding-bottom: var(--p-tb-section);
}

.about-block__heading::after {
    content: '';
    display: block;
    position: relative;
    background-image: var(--line-image);
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
}

.about-block__heading_center::after {
    content: '';
    display: block;
    position: relative;
    background-image: var(--line-center);
    background-repeat: no-repeat;
    width: 1174px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}

.about-block__heading_center {
    text-align: center;
}

.about-block__heading_project::after {
    left: -528px;
}

.about-block__heading_founders::after {
    left: -443px;
}

.about-block__heading_network::after {
    left: -247px;
}

.about-block__heading_about-community::after {
    left: -394px;
}

.about-block__heading_our-plans::after {
    left: -432px;
}

.about-block__block-reverse {
    flex-direction: row-reverse;
}

.about-block__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--m-t-content);
}

.about-block__images {
}


.about-block__right {
    min-width: 500px;
}

.about-block__description {
    max-width: 822px;
}

.about-block__link {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    margin-top: 45px;
    background: linear-gradient(transition);
    background: linear-gradient(92.84deg, #DBADFC 5.36%, rgba(2, 111, 212, 0.8) 57.86%, rgba(255, 255, 255, 0) 100%);
    background-size: 0;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in-out;
}

.about-block__link:hover, .about-block__link:focus {
    background-size: 110%;
}

.about-block__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: var(--text-color);
    margin-bottom: 25px;
}

@media(max-width: 1500px) {
    .about-block__block .about-block__description, .about-block__link {
        position: relative;
        left: -100px;
    }

    .about-block__block-reverse .about-block__description, .about-block__block-reverse .about-block__link {
        position: relative;
        left: 100px;
    }

    .about-block__right {
        min-width: 300px;
    }

    .about-block__images {
        max-width: 100%;
        min-width: 650px;
    }
}

@media (max-width: 1024px) {
    
}