.footer {
    background-color: #01508D;
    background-image: url(../images/footer-images.png) no-repeat right/contain, linear-gradient(180deg, #0160A1 0%, #011848 71.66%, #00133E 100%);
    padding-top: 53px;
    padding-bottom: 53px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 160px;
    min-height: 52px;
}

.footer__left {
    max-width: 793px;
}

.footer__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: var(--text-color);
    margin-top: 40px;
}

.footer__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin-top: 20px; 
}

.footer__center {
    margin-left: 62px;
    margin-right: 62px;
}

.footer__line {
    width: 7px;
    height: 184px;
    background-image: url(../images/line-footer.png);
    background-repeat: no-repeat;
}

.footer__right {
    min-width: 500px;
}

.footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.footer__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    position: relative;
}

.footer__link:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 1s;
}

.footer__link:hover:after, .footer__link:focus:after {
    width: 100%;
}

@media (max-width: 1280px) {
    .footer__right {
        min-width: 400px;
    }
}

@media (max-width: 1024px) {
    .footer {
        padding-top: 33px;
        padding-bottom: 33px;
        background-image: none, linear-gradient(180deg, #0160A1 0%, #011848 71.66%, #00133E 100%);
    }

    .footer__right {
        min-width: 200px;
    }

    .footer__center {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .footer__description {
        margin-top: 10px;
    }

    .footer__heading {
        margin-top: 0px;
        line-height: 25px;
        font-size: 15px;
    }

    .footer__center {
        margin-left: 50px;
        margin-right: 50px;
    }

    .footer {
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .footer__right {
        min-width: 120px;
    }

    .footer__description {
        font-size: 13px;
    }

    .footer__img {
        width: 115px;
    }

    .footer__link {
        font-size: 15px;
    }
}

@media(max-width: 568px) {
    .footer__wrapper {
        flex-direction: column;
    }

    .footer__center {
        display: none;
    }

    .footer__list {
        display: flex;
        flex-wrap: wrap;
        margin-top: 14px;
        margin-bottom: 7px;
    }

    .footer__link {
        font-weight: 400;
        text-decoration: underline;
    }
    
    .footer__item:not(:last-child) {
        margin-right: 10px;
        margin-bottom: 0px;
    }
}