.footer {
    background-color: #01508D;
    background-image: url(../images/footer-images.png) no-repeat right/contain, linear-gradient(180deg, #0160A1 0%, #011848 71.66%, #00133E 100%);
    padding-top: 53px;
    padding-bottom: 53px;
}

.footer__wrapper {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 160px;
    min-height: 52px;
}

.footer__left {
    max-width: 793px;
}

.footer__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    color: var(--text-color);
    margin-top: 40px;
}

.footer__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    margin-top: 20px; 
}

.footer__center {
    margin-left: 102px;
    margin-right: 102px;
}

.footer__line {
    width: 7px;
    height: 184px;
    background-image: url(../images/line-footer.png);
    background-repeat: no-repeat;
}

.footer__item:not(:last-child) {
    margin-bottom: 24px;
}

.footer__link {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--text-color);
    position: relative;
}

.footer__link:after {
    content: "";
    position: absolute;
    display: block;
    bottom: -10px;
    left: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: var(--text-color);
    transition: all 1s;
}

.footer__link:hover:after, .footer__link:focus:after {
    width: 100%;
}