/* Переменные */
:root {
    --w-wrapper: 1650px;
    --p-lr-wrapper: 100px;
    --p-tb-section: 135px;
    --m-t-content: 167px;
    --heading-size: 60px;
    --description-size: 20px;
    --text-color: #ffffff;
    --line-image: url("../images/opportunities-line.png");
    --line-center: url('../images/line-center.png')
}

/* Глобальные стили */
.body {
    background: linear-gradient(180deg, #026fd4 0%, #2c2c47 54.17%);
    background-repeat: no-repeat;
    min-height: 100vh;
}

.wrapper {
    max-width: calc(var(--w-wrapper) + var(--p-lr-wrapper) * 2);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--p-lr-wrapper);
    padding-right: var(--p-lr-wrapper);
}

.heading {
    font-weight: 700;
    line-height: 73px;
    font-size: var(--heading-size);
    color: var(--text-color);
    text-transform: uppercase;
}

.description {
    font-weight: 400;
    line-height: 35px;
    font-size: var(--description-size);
    color: var(--text-color);
}

/* delete */
.wrapper_card {
    padding-top: var(--p-tb-section);
    padding-bottom: var(--p-tb-section);
}
/* /delete */

@media (max-width: 1280px) {
    .wrapper {
        max-width: calc(1650px + 60px * 2);
        padding-left: 60px;
        padding-right: 60px;
    }

    .wrapper_card {
        padding-top: 105px;
        padding-bottom: 105px;
    }

    .heading {
        font-size: 52px;
    }

    .description {
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: calc(1650px + 20px * 2);
        padding-left: 20px;
        padding-right: 20px;
    }

    .wrapper_card {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .description {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .wrapper {
        max-width: calc(1650px + 10px * 2);
        padding-left: 10px;
        padding-right: 10px;
    }

    .wrapper_card {
        padding-top: 55px;
        padding-bottom: 55px;
    }

    .heading {
        font-size: 40px;
    }
}
