<section class="about-block wrapper">
    <h2 class="heading about-block__heading about-block__heading_project">@@heading</h2>
    <div class="about-block__block">
        <img src="./images/projects.png" alt="project-founders-network" class="about-block__images">
        <div class="about-block__right">
            <p class="description about-block__description">@@description</p>
            <a class="about-block__link" href="./products.html">Подробнее о проекте</a>
        </div>
    </div>
</section>