<header class="header">
    <div class="header__wrapper wrapper">
        <a href="./index.html" class="wow animate__pulse header__link-logo">
            <img src="./images/logo.svg" alt="dev corp logo" class="header__logo" />
        </a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item"><a href="./about-project.html" class="header__link">О проекте</a></li>
                <li class="header__item"><a href="./products.html" class="header__link">Продукты</a></li>
                <li class="header__item"><a href="./founders.html" class="header__link">Основатели</a></li>
                <li class="header__item"><a href="./social-network.html" class="header__link">Соц.сети</a></li>
            </ul>
        </nav>
        <div class="header__burger-wrapper">
            <div class="header__burger"><span></span><span></span><span></span></div>
        </div>
    </div>
</header>
