@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: local("Inter"), url("../fonts/Inter-Light.woff2") format("woff2"),
        url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local("Inter"), url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: local("Inter"), url("../fonts/Inter-SemiBold.woff2") format("woff2"),
        url("../fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local("Inter"), url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: none;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {
    main {
        padding-top: 68px;
    }
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@import "components/commonСomponents/animate.css";

/* Global styles */
@import "components/commonСomponents/global.css";
/*  подключение модулей CSS */
@import "components/commonСomponents/header.css";
/* pageHome styles */
@import "components/pageHome/home.css";
@import "components/pageHome/opportunities.css";
@import "components/pageHome/projectsCompany.css";
@import "components/commonСomponents/aboutBlock.css";
@import "components/commonСomponents/abourBlockModifier.css";
@import "components/pageAboutProducts/purposseAndMission.css";
@import "components/pageFounders/swiperFounders.css";
@import "components/commonСomponents/footer.css";
