<footer class="footer">
    <div class="footer__wrapper wrapper">
        <div class="footer__lb">
            <a href="./" class="footer__link-logo">
                <img class="footer__img" src="./images/logo-footer.svg" alt="dev corp">
            </a>
            <h3 class="footer__heading">Development Corporation</h3>
            <p class="footer__description">Это место, где вы сможете приобрести новых друзей, научиться зарабатывать и просто развиваться. Мы предлагаем вам наши IT продукты, которые помогут вам учиться, общаться и монетезировать в удобной для вас форме.</p>
        </div>
        <div class="footer__cb">
            <div class="footer__line"></div>
        </div>
        <div class="footer__rb">
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item"><a href="./about-project.html" class="footer__link">О проекте</a></li>
                    <li class="footer__item"><a href="./products.html" class="footer__link">Продукты</a></li>
                    <li class="footer__item"><a href="./founders.html" class="footer__link">Основатели</a></li>
                    <li class="footer__item"><a href="./social-network.html" class="footer__link">Соц.сети</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>