.home {
    text-align: center;
    padding-top: 235px;
    padding-bottom: 240px;
    height: calc(100vh - 130px);
}

.home__heading {
    font-weight: 300;
    font-size: 96px;
    line-height: 116px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

.home__heading > span {
    font-weight: 600;
}

.home__slogan {
    font-weight: 300;
    font-size: 32px;
    line-height: 39px;
    color: #fff;
    margin-top: 14px;
}

@media (max-width: 768px) {
    .home__heading {
        font-size: 56px;
        line-height: 61px;
    }
}

@media(max-width: 568px) {
    .home__heading {
        font-size: 36px;
        line-height: 61px;
    }
}