.opportunities {
    padding-top: 135px;
    padding-bottom: 135px;
}

.opportunities__heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.opportunities__heading::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/opportunities-line.png');
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
    left: -362px;
}

.opportunities__list {
    margin-top: 158px;
    display: flex;
    justify-content: space-around;
}


.opportunities__item {
    padding-top: 42px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    width: 380px;
    background: linear-gradient(145.6deg, rgba(130, 130, 207, 0.7) -19.97%, rgba(130, 130, 207, 0.14) 120.8%);
    box-shadow: 3px 4px 16px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 20px;
}

.opportunities__img {
    display: block;
    width: 233px;
    margin-left: auto;
    margin-right: auto;
}

.opportunities__heading-item {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-top: 43px;
}

.opportunities__descriptions {
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 10px;
}