.project-founders-network__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 158px;
    gap: 25px;
}
.project-founders-network__block_reverse {
    flex-direction: row-reverse;
}

.project-founders-network__heading_project::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/opportunities-line.png');
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
    left: -528px;
}

.project-founders-network__heading_founders::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/opportunities-line.png');
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
    left: -443px;
}

.project-founders-network__heading_network::after {
    content: '';
    display: block;
    position: relative;
    background-image: url('../images/opportunities-line.png');
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
    left: -247px;
}


.project-founders-network__images {
    max-width: 740px;
}


.project-founders-network__br {
    min-width: 200px;
}

.project-founders-network__link {
    display: inline-block;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    padding: 20px;
    margin-top: 45px;
    background: linear-gradient(transition);
    background: linear-gradient(92.84deg, #DBADFC 5.36%, rgba(2, 111, 212, 0.8) 57.86%, rgba(255, 255, 255, 0) 100%);
    background-size: 0;
    background-repeat: no-repeat;
    transition: background-size 1s ease-in-out;
}

.project-founders-network__link:hover {
    background-size: 110%;
}


@media (max-width: 1280px) {
    .project-founders-network__images {
        max-width: 540px;
    }
}

@media (max-width: 1024px) {
    .project-founders-network__block {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
}