:root {
    --container-w: 1168px;
    --circle-w-h: 151px;
    --circle-t-2-3: 12px;
    --circle-t-4-5: 242px;
    --circle-b-6-7: 17px;
    --circle-l-r-4-5: 13px;
    --circle-l-r-2-3-6-7: 190px;
    --tooltip-l-r: 76px;
    --tooltip-t: 108px;
}

.projects-company {
    padding-top: var(--p-tb-section);
    padding-bottom: var(--p-tb-section);
}

.projects-company__heading::after {
    content: '';
    display: block;
    position: relative;
    background-image: var(--line-left);
    background-repeat: no-repeat;
    width: 881px;
    height: 20px;
    left: -138px;
}

.projects-company__container {
    position: relative;
    width: var(--container-w);
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--m-t-content);
}

.projects-company__images {
    width: 100%;
}

.projects-company__circle_active {
    background: linear-gradient(130.88deg, rgba(255, 255, 255, 0.7) 0%, rgba(219, 173, 252, 0.14) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-company__circle_inactive {
    background: linear-gradient(130.88deg, rgba(255, 255, 255, 0.7) 0%, rgba(219, 173, 252, 0.14) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: rgba(255, 255, 255, 0.5);
}

.projects-company__circle_active, .projects-company__circle_inactive {
    cursor: pointer;
    position: absolute;
    width: var(--circle-w-h);
    height: var(--circle-w-h);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 30px;
    line-height: 27px;
}

.projects-company__circle:nth-child(2) {
    top: var(--circle-t-2-3);
    left: var(--circle-l-r-2-3-6-7);
    z-index: 210;
}

.projects-company__circle:nth-child(3) {
    top: var(--circle-t-2-3);
    right: var(--circle-l-r-2-3-6-7);
    z-index: 200;
}
.projects-company__circle:nth-child(4) {
    top: var(--circle-t-4-5);
    left: var(--circle-l-r-4-5);
    z-index: 220;
}
.projects-company__circle:nth-child(5) {
    top: var(--circle-t-4-5);
    right: var(--circle-l-r-4-5);
    z-index: 200;
}
.projects-company__circle:nth-child(6) {
    bottom: var(--circle-b-6-7);
    left: var(--circle-l-r-2-3-6-7);
    z-index: 200;
}

.projects-company__circle:nth-child(7) {
    bottom: var(--circle-b-6-7);
    right: var(--circle-l-r-2-3-6-7);
    z-index: 200;
}

/* tooltip */ 

.projects-company__tooltip {
    position: absolute;
    top: var(--tooltip-t);
    width: 377px;
    background: linear-gradient(130.88deg, rgba(2, 111, 212, 0.7) 0%, rgba(2, 111, 212, 0.14) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 24px 28px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.projects-company__circle:hover .projects-company__tooltip {
    visibility: visible;
    opacity: 1;
}

.projects-company__circle:nth-child(2n) .projects-company__tooltip {
    left: var(--tooltip-l-r);
    border-top-left-radius: 0;

}

.projects-company__circle:nth-child(2n+1) .projects-company__tooltip {
    right: var(--tooltip-l-r);
    border-top-right-radius: 0;
}

.projects-company__tooltip-heading {
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects-company__tooltip-heading > span {
    font-size: 15px;
}

.projects-company__tooltip-description {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 15px;
}

@media(max-width: 1380px) {
    :root {
        --container-w: 968px;
        --circle-w-h: 125px;
        --circle-t-2-3: 11px;
        --circle-t-4-5: 201px;
        --circle-b-6-7: 15px;
        --circle-l-r-4-5: 11px;
        --circle-l-r-2-3-6-7: 158px;
        --tooltip-l-r: 61px;
        --tooltip-t: 88px
    }

    .projects-company__circle_active, .projects-company__circle_inactive, .projects-company__tooltip-heading {
        font-size: 23px;
    }
    
    .projects-company__tooltip-description {
        font-size: 18px;
    }
}

@media (max-width: 1280px) {
    .projects-company__heading::after {
        left: -235px;
    }
}

@media(max-width: 1095px) {
    :root {
        --container-w: 668px;
        --circle-w-h: 86px;
        --circle-t-2-3: 7px;
        --circle-t-4-5: 139px;
        --circle-b-6-7: 12px;
        --circle-l-r-4-5: 7px;
        --circle-l-r-2-3-6-7: 109px;
        --tooltip-l-r: 40px;
        --tooltip-t: 62px
    }

    .projects-company__circle_active, .projects-company__circle_inactive, .projects-company__tooltip-heading {
        font-size: 18px;
    }
    
    .projects-company__tooltip-description {
        font-size: 14px;
        line-height: 27px;
    }
}

@media (max-width: 1024px) {
    .projects-company__heading::after {
        bottom: 10px;
        left: -287px;
    }
}

@media (max-width: 768px) {
    :root {
        --container-w: 468px;
        --circle-w-h: 60.5px;
        --circle-t-2-3: 5px;
        --circle-t-4-5: 97px;
        --circle-b-6-7: 9px;
        --circle-l-r-4-5: 5px;
        --circle-l-r-2-3-6-7: 76px;
        --tooltip-l-r: 27px;
        --tooltip-t: 42px
    }

    .projects-company__circle_active, .projects-company__circle_inactive, .projects-company__tooltip-heading {
        font-size: 12px;
        line-height: 20px;
    }

    .projects-company__tooltip {
        width: 150px;
        padding: 5px;
        border-radius: 10px;
    }
    
    .projects-company__tooltip-description {
        font-size: 8px;
        line-height: 20px;
        margin-top: 7px;
    }

    .projects-company__heading::after {
        bottom: 20px;
        left: -383px;
    }
}

@media(max-width: 568px) {
    .projects-company__heading::after {
        bottom: 20px;
        left: -507px;
    }
}

@media(max-width: 491px) {
    :root {
        --container-w: 268px;
        --circle-w-h: 60.5px;
        --circle-t-2-3: -11px;
        --circle-t-4-5: 42px;
        --circle-b-6-7: -6px;
        --circle-l-r-4-5: -13px;
        --circle-l-r-2-3-6-7: 31px;
        --tooltip-l-r: 27px;
        --tooltip-t: 42px
    }
}

@media(max-width: 375px) {
    .projects-company__heading::after {
        bottom: 31px;
        left: -591px;
    }
}