<section class="about-block wrapper">
    <h2 class="heading about-block__heading about-block__heading_about-community">О комьюнити</h2>
    <div class="about-block__block about-block__block-reverse">
        <img src="./images/about-community.png" alt="project-founders-network" class="about-block__images">
        <div class="about-block____right">
            <p class="description about-block__description">Мы создаём комьюнити, где каждый участник не только получает актуальные знания в выбранной области, но и становится частью большой команды, которая нацелена на получение максимальной пользы от участия в проекте. Ещё каждый участник может выбрать любой метод обучения. И, вдобавок, участник сможет стать полноценным специалистом и участником команды Development Corporation</p>
        </div>
    </div>
</section>