<section class="about-block wrapper">
    <h2 class="heading about-block__heading about-block__heading_our-plans">Наши планы</h2>
    <div class="about-block__block">
        <div class="about-block__left">
            <img src="./images/our-plans.png" alt="project-founders-network" class="about-block__images">
        </div>
        <div class="about-block__right">
            <p class="description about-block__description about-block__description_text">Мы сейчас находимся на первых этапах проекта, работаем с командой над продвижением идеи и воплощением нашей миссии: объединить в одном месте амбициозных людей, готовых идти к своим целям, для того, чтобы раскрыть их потенциал, реализовать цели и задачи. Мы планируем сначала взять пространство СНГ, далее возьмёмся за Западную Европу и англоязычные страны.</p>
        </div>
    </div>
</section>